<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="main"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar-stable">
			<h1 class="title">Menu</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item nav-clear menu-close ui-sref="app.start" nav-direction="forward">
					Start Page
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.css" nav-direction="back">
					CSS
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.action-sheet" nav-direction="enter">
					Action Sheet
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.backdrop" nav-direction="exit">
					Backdrop
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.content" nav-direction="swap">
					Content (& scroll)
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.colours">
					Colours
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.events">
					Events
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.modal" nav-transition="android">
					Modals
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.slide-box" nav-transition="ios">
					Slide Box
				</ion-item>
				<ion-item nav-clear menu-close ui-sref="app.popover-popup">
					Popover & Popup
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
