<ion-view view-title="tabs">
	<ion-tabs class="tabs-positive">
		<ion-tab title="Tab 1">
			<ion-content>
				<header>&nbsp;</header><!-- hacky header to make a space where the real one is placed -->
				<h1>Hi! I'm First Tab!</h1>
				<h2>Nice to meet you!</h2>
			</ion-content>
		</ion-tab>
		<ion-tab title="Tab 2" badge="10" badge-style="badge-royal">
			<ion-content>
				<header>&nbsp;</header><!-- hacky header to make a space where the real one is placed -->
				<h1>Me Second Tab</h1>
				<h2>Hurr Durr!</h2>
			</ion-content>
		</ion-tab>
	</ion-tabs>
</ion-view>
