<ion-view view-title="content">
	<ion-content delegate-handle="content-view" on-scroll-complete="ctrl.onScrollComplete()">
		<h1>Content</h1>
		<form class="list" ng-submit="ctrl.submitScrollBy()">
			<label class="item item-input">
				<span class="input-label">Scroll by:</span>
				<input type="number" ng-model="ctrl.distance" placeholder="">
			</label>
			<button class="button button-block button-balanced" type="submit">Scroll!</button>
		</form>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto culpa dolorem eligendi perspiciatis? A ad animi beatae doloribus eos explicabo facere illum placeat quae, quas, repellat repellendus suscipit tenetur vero.</p>
	</ion-content>
</ion-view>
