<ion-view view-title="slide-box">
	<ion-nav-buttons side="secondary">
		<button class="button"><i class="icon ion-music-note"></i></button>
		<button class="button"><i class="icon ion-eye"></i></button>
	</ion-nav-buttons>
	<ion-nav-title>
		Custom title
	</ion-nav-title>

	<ion-content scroll="false">
		<ion-slide-box does-continue="true" show-pager="true" pager-click="ctrl.changeSlide(index)"
					   class="slides-container" delegate-handle="slider">
			<ion-slide>
				<div class="slide">1</div>
			</ion-slide>
			<ion-slide>
				<div class="slide">2</div>
			</ion-slide>
			<ion-slide>
				<div class="slide">3</div>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>
