[view-title="slide-box"] .scroll {
//  min-height: 100%;
  height: 100%;
}

.slides-container {
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  background-color: rgba(92, 195, 255, 0.50);

  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1000%;
  line-height: 200%;
}