<ion-view view-title="ions" hide-nav-bar="false">
	<ion-content header-shrink>
		<h1>ions</h1>

		<swipe-cards>
			<swipe-card ng-repeat="card in ctrl.cards">
				{{ card.name }}
			</swipe-card>
		</swipe-cards>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, consequatur dicta error ipsum magnam
			minima sapiente. Alias asperiores aut cumque dignissimos eveniet odio officiis quia sed vero? Odio, sint,
			tenetur?</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis deserunt magni, non nulla quasi
			repellat vel. Aspernatur, corporis dolores fuga ipsam nulla placeat qui reiciendis saepe sapiente tempore
			ullam.</p>

		<p>Aliquid amet cum delectus doloribus enim eos est eum excepturi explicabo fugit minima molestiae nihil nostrum
			odio possimus quae quisquam, quos repellat repellendus sed sequi sint tempora velit vitae voluptatum.</p>

		<p>Assumenda corporis dicta distinctio, dolores ea id itaque laudantium magni minima nam nihil nobis repellendus
			suscipit vel vitae. At corporis eveniet molestias vel. Aliquam aspernatur assumenda esse numquam pariatur
			sed?</p>

		<p>Alias amet aperiam asperiores aspernatur delectus dolor dolores eaque eligendi, error et ex illo ipsam iusto
			maxime numquam officiis perspiciatis possimus quam qui recusandae temporibus totam, ullam ut veniam
			veritatis!</p>

		<p>Adipisci, aut autem beatae consectetur dolor eos est iste minus nobis quae repellendus, soluta sunt tempora
			temporibus velit voluptate voluptatem. Amet blanditiis cupiditate debitis est explicabo possimus quidem
			recusandae voluptas.</p>
	</ion-content>
</ion-view>
